<div class="form-panel">
    <h3>Create an account</h3>
    <div class="body">
		<input type="text" id="fname" placeholder="first name" />
		<input type="text" id="lname" placeholder="last name" />
        <input type="text" id="username" placeholder="username" />
		<input type="text" id="email" placeholder="email" />
        <input type="password" id="password" placeholder="password" />
		<a href="" id="create-account" class="btn btn-block btn-primary" >Signup now!</a>
		<a href="#/login" id="goto-login" class="btn btn-block" >Go to Login</a>
    </div>
</div>