<header class="bar bar-nav colored-bar">
<!--	<a class="inverse pull-left" id="join-team">Join</a>-->
	<button class="inverse btn btn-link btn-nav pull-left">
    	<span class="icon"></span>
    	Join
  	</button>
	<a class="inverse icon icon-plus pull-right" id="create-team"></a>
    <h1 class="title">Your teams</h1>
</header>

<div class="content">
	<% if (user.teams.length == 0) { %>
    	<div class="light big-margin centered">
    		You don't belong to any team yet, start by creating or joining a team!
    	</div>    	
    <% } %>
   	<div id="teams-list"></div>
    	
</div>

<div id="tabs"></div>

<script type="text/javascript">
$(function(){
	$('#tabs').load('tpl/TabBar.html', function(){
		$('.tabs-bar a').removeClass('active');
		$('.tabs-bar a.my-teams').addClass('active');
	});
});
</script>
