* {
	outline: 0 !important;
}

body {
    font-family: "Oxygen";
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

header.bar.bar-nav,
.bar.bar-tab {
  -webkit-transform: translateZ(0);
}

a {
    color: #D94E67;
}

a.inverse, .btn-link.inverse {
    color: #F2F2F2;
}

a.navigate-right.nav-logout:after {
	right: 15px;
	content: '\e81a';
}

a.navigate-right.nav-plus:after {
	right: 15px;
	content: '\e817';
}

a.navigate-right.nav-remove:after {
	right: 15px;
	content: '\e811';
	color: #D94E67;
}

form:not(.input-group) {
	margin: 30px;
}

form:not(.input-group) input[type="text"] {
	width: 90%;
	margin-left: 5%;
}

.input-group input:not([type="checkbox"]) {
	text-align: center;
    height: 50px;
}

.cb-centered {
	text-align: center;
	height: 70px;
	padding: 10px;
}


.bar-tab {
	display: block;
}

.bar-tab .tab-item.active {
	color: #D94E67;
}

.btn {
   font-family: "Oxygen"; 
}

.btn.disabled {
	background: #CCC;
}

.btn-strong {
	color: #f2f2f2;
	border: 1px solid #591E23;
	background-color: #591E23;
}

.btn-light {
	color: #555;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

.btn-primary {
	color: #f2f2f2;
	border: 1px solid #D94E67;
	background-color: #D94E67;
}

.btn-secondary {
	color: #444;
	border: 1px solid #F2D8A7;
	background-color: #F2D8A7;
}

.centered {
	text-align: center;
}

.no-margin {
	margin: 0px !important;
}

.big-margin {
	margin: 50px;
}

.big-text {
	font-size: 22px;
}

.dark {
	color: #333;
}

.light {
	color: #666;
}

div.big-btns {
	margin: 30px 0px;
}

div.big-btns button {
	margin: 10px;
	height: 150px;
	width: 150px;
	text-align: center;
}

div.big-btns button i {
	display: block;
	margin-bottom: 10px;
	font-size: 40px;
}
div.msg {
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

div.wheel.loading {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background-image: url('../pics/loading.gif');
	background-size: cover;
}

.content.home {
    background-image: url('../pics/home/planningpoker.jpg');
    background-size: cover;
}

.content.home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.home .logo {
    text-align: center;
    margin-top: 120px;
    font-size: 35px;
    color: #f2f2f2;
}

.home .btn-container {
    text-align: center;
    position: absolute;
    bottom: 20%;
    width: 100%;
}

.home .btn-container .btn {
    height: 50px;
    width: 40%;
    font-size: 16px;
}

input.btn-block {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
}

.colored-bar {
    background-color: #D94E67;
}

.colored-bar .title{
    color: #F2F2F2;
    font-weight: bold;
}
